<div class="card m-3 bg-secondary text-white" *ngIf="tweet != null">
  <div class="card-hearder">
    <h5>
      <img
        src="../assets/gravatar.png"
        class="gravatar-small"
        alt="profile_pic"
      />
      @{{ tweet.username }}
    </h5>
  </div>
  <div class="card-body">
    <h6>{{ tweet.tweetText }}</h6>
    <!-- <h6>Likes : {{likeCount}}</h6> -->

    <h6>TimeStamp : {{ tweet.tweetDate }}</h6>
    <div class="d-flex">
      <button
        (click)="likeTweet(true); enableDisableRule()"
        [ngClass]="{ blue: toggle, red: !toggle }"
       
      >
        {{ status }}
      </button>
      <!-- <button
        class="btn btn-dark"
        (click)="likeTweet(false)"
        *ngIf="tweet.likes.includes(currentUser)"
         disabled="tweet.likes.includes(currentUser)"
      >
        Dislike
      </button> -->
      <div class="space"></div>
      <button
        class="btn btn-dark ml-1 mr-1"
        (click)="editTweet()"
        *ngIf="tweet.username == currentUser"
      >
        Edit Tweet
      </button>
      <button
        class="btn btn-dark ml-1 mr-1"
        (click)="deleteTweet()"
        *ngIf="tweet.username == currentUser"
      >
        Delete Tweet
      </button>
    </div>

    <div
      class="card d-flex text-dark reply-box"
      *ngFor="let reply of tweet.replies"
    >
      <h6>@{{ reply.username }}</h6>
      <h6 class="ml-5">{{ reply.comment }}</h6>
      <div class="space"></div>
      <h6>{{ reply.timestamp }}</h6>
    </div>
  </div>
  <div class="d-flex">
    <textarea
      class="reply"
      #comment
      [(ngModel)]="currentComment"
      name="comment"
      id="comment"
      cols="30"
      rows="2"
      maxlength="144"
    ></textarea>
    <button
      class="btn btn-light reply-btn"
      (click)="replyToTweet(comment.value)"
    >
      Reply
    </button>
  </div>
</div>
