<div
  class="card m-3 text-white"
  style="background-color: #23a3bf"
  *ngIf="tweet != null"
>
  <div class="card-hearder">
    <h5>
      <img
        src="../assets/gravatar.png"
        class="gravatar-small"
        alt="profile_pic"
      />
      @{{ tweet.username }}
    </h5>
  </div>
  <div class="card-body">
    <h6>{{ tweet.tweetText }}</h6>
    <h6>
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      {{ tweet.likes.length }}
    </h6>

    <h6><i class="fa-solid fa-clock"></i> {{ tweet.tweetDate }}</h6>
    <div class="d-flex">
      <button
        (click)="likeTweet(true)"
        *ngIf="!tweet.likes.includes(currentUser)"
      >
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      </button>
      <button
        class="btn btn-dark"
        (click)="likeTweet(false)"
        *ngIf="tweet.likes.includes(currentUser)"
      >
        <i class="fas fa-thumbs-down"></i>
      </button>
      <div class="space"></div>
      <button
        class="btn btn-dark ml-1 mr-1"
        (click)="editTweet()"
        *ngIf="tweet.username == currentUser"
      >
        <i class="fas fa-edit"></i>
      </button>
      <button
        class="btn btn-dark ml-1 mr-1"
        (click)="deleteTweet()"
        *ngIf="tweet.username == currentUser"
      >
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </div>

    <div
      class="card d-flex text-dark reply-box"
      *ngFor="let reply of tweet.replies"
    >
      <h6>@{{ reply.username }}</h6>
      <h6 class="ml-5">{{ reply.comment }}</h6>
      <div class="space"></div>
      <h6><i class="fa-solid fa-clock"></i>{{ reply.timestamp }}</h6>
    </div>
  </div>
  <div class="d-flex">
    <textarea
      class="reply"
      #comment
      [(ngModel)]="currentComment"
      name="comment"
      id="comment"
      cols="30"
      rows="2"
      maxlength="144"
    ></textarea>
    <button
      class="btn btn-dark reply-btn"
      (click)="replyToTweet(comment.value)"
    >
      Reply
    </button>
  </div>
</div>
