<div class="container">
  <div class="content-card">
    <div class="new-tweet-card pt-5">
      <div class="card text-white bg-secondary">
        <div class="card-header">
          <h3 *ngIf="!editTweet">New Tweet</h3>
          <h3 *ngIf="editTweet">Edit Tweet</h3>
        </div>

        <div class="form-group">
          <label class="label" for="tweet">Message</label>
          <textarea
            (onkeyup)="resetData()"
            name="tweet"
            #message
            id="tweetBox"
            [(ngModel)]="messageContent"
            cols="60"
            rows="5"
          ></textarea>
          <div class="tweet-limit">{{ 150 - message.value.length }}</div>
        </div>
        
        <div class="form-group label mb-2">
          <button
            action="none"
            class="tag"
            *ngFor="let tag of tags; let i = index"
          >
            <span (click)="deleteTag(i)">#{{ tag }}</span>
          </button>
        </div>
        <div class="form-group label mb-3">
          <button
            *ngIf="!editTweet"
            [disabled]="144 - message.value.length < 0"
            (click)="tweet(message.value)"
            class="btn btn-dark"
          >
            Tweet
          </button>
          <button
            *ngIf="editTweet"
            [disabled]="144 - message.value.length < 0"
            (click)="updateTweet(message.value)"
            class="btn btn-dark"
          >
            Update Tweet
          </button>
        </div>

        <div class="alert alert-success label mb-4" *ngIf="tweeted && result">
          <small>Tweeted Successfully!</small>
        </div>
        <div class="alert alert-danger label mb-4" *ngIf="tweeted && !result">
          <small>Error publishing tweet</small>
        </div>
      </div>
    </div>
  </div>
</div>
