<div class="container">
  <div class="content-card" >
    <!--scroll-ele" #scroll-->
    <app-tweetapp
      *ngIf="tweetSelected"
      [selectedTweet]="tweet"
      (delTweet)="deleteTweet($event)"
    ></app-tweetapp>
    <div class="card" *ngFor="let tweet of tweetsList; let i = index">
      <div class="card-content d-flex">
        <div class="gravatar pt-2">
          <img
            src="../assets/gravatar.png"
            class="gravatar-big"
            alt="profile_pic"
          />
        </div>
        <div class="content ml-5">
          <h2>@{{ tweet.username}}</h2>
          <h5>{{ tweet.tweetText }}</h5>
          <span>{{ tweet.likes.length }} <i class="fa fa-thumbs-up" aria-hidden="true"></i> </span>
          <span> {{ tweet.replies.length }} <i class="fa fa-reply" aria-hidden="true"></i></span>
        </div>
        <div class="space"></div>
        <div class="content-end pr-3">
          <h5>{{ tweet.tweetDate }}</h5>
          <button class="btn btn-dark mt-3" (click)="viewTweet(i);scrollTop()">
            View Tweet
          </button>
        </div>
        
      </div>
    </div>
  </div>
</div>
