<div class="fluid-container">
  <!--<nav class="navbar navbar-expand-lg navbar-blue bg-black"> -->
  <nav class="navbar navbar-light bg-light navbar-expand-sm">
    <a class="navbar-brand" href=""><i class="fa fa-lemon"></i>TweetApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" *ngIf="!isUserLoggedIn; else loggedIn">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"
            ><i class="fa fa-home" aria-hidden="true"></i>Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            routerLinkActive="active"
            ><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            routerLinkActive="active"
            ><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a
          >
        </li>
      </ul>

      <ng-template #loggedIn>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-3">
            <a class="nav-link active">
              <img
                src="../assets/gravatar.png"
                class="gravatar-small"
                alt="profile_pic"
              />
              Hi @{{ loggedUsername }},</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/new']"
              routerLinkActive="active"
              ><i class="fa fa-plus-circle"></i>New Tweet</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/users/']"
              routerLinkActive="active"
              ><i class="fa fa-users" aria-hidden="true"></i>View Users</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/tweets']"
              routerLinkActive="active"
              ><i class="fas fa-object-group"></i>View Tweets</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()" [routerLink]="['']"
              ><i class="fa fa-sign-out"></i>Logout</a
            >
          </li>
        </ul>
      </ng-template>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
