.register-card{
    width: 50%;
    margin:auto;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: "Ubuntu", sans-serif !important;
    background-color:  #34C2F7    !important;
}
.card-header{
    font-family: "Ubuntu", sans-serif !important;
    background-color:  #34C2F7    !important;
}
.card-body{
    font-family: "Ubuntu", sans-serif !important;
    background-color:  #DCE5E9    !important;
}